#wrapper {
    width: 550px;
    margin: 40px auto;
    text-align: center;
}

#wrapper-inner {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
}

header, #counter {
    font-size: 50px;
}

.line {
    height: 30px;
}

.cell {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 14px 14px;
    border-color: black;
    display: inline-block;
    background: deepskyblue;
}

.ruby {
    background: red;
}

.python {
    background: green;
}
